# Ignore Visual Studio temporary files, build results, and
# user-specific files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Other Exclustions
.env
TMS_API.https
tempkey.jwk
node_modules/
