<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
