@model TMS_IDP.Models.Controllers.Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>Login</h2>
<form asp-action="Login" method="post" >
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="hidden" asp-for="ReturnUrl" />
    <button type="submit">Login</button>
</form>

@section scripts {
    <script src="~/js/login.js"></script>
}
