@model TMS_IDP.Models.Controllers.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";

}

<h2>Login</h2>
<form asp-action="Login" method="post">
    <input name="username" placeholder="Username" />
    <input name="password" type="password" placeholder="Password" />
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
    <button type="submit">Login</button>
</form>

@section scripts {
    <script src="~/js/login.js"></script>
}
